/* Style sheet. In general, things are divided so that "#" tags specify
   dimensions, while presentation (e.g. borders, padding, floats, etc) are
   specified by CSS classes. */

/* Solarized colors, from here: http://ethanschoonover.com/solarized */
:root {
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;
}
body {
  background-color: var(--base3);
  color: var(--base01); /* Text color unless otherwise specified */
}

/* Small classes specifying margins, borders, etc */
.container {
  background-color: var(--base2);
}
.borderLine {
  border-color: var(--base0);
  border-width: 1px;
}
.borderSurround {
  border-style: solid;
  border-radius: 10px;
}
.borderBottom {
  border-bottom-style: solid;
}
.borderRight {
  border-right-style: solid;
}
.marginSurround {
  margin: 5px;
}
.marginRight {
  margin-right: 5px;
}
.marginBottom {
  margin-bottom: 5px;
}
.padSurround {
  padding: 5px;
}
.padTop {
  padding-top: 5px;
}
.padBottom {
  padding-bottom: 5px;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.alignCenter {
  text-align: center;
}

/* General css classes and styles */
table {
  width: 100%;
  table-layout: fixed; /* All buttons have same width */
}
.wrapper { /* Wrapper for all document elements */
  width: 1200px;
}

/* Commboard styling */
#menuContainer { /* The menuContainer buttons */
  width: 1190px;
}
#menuContainer tr {
  height: 60px;
}
#menuContainer td {
  padding: 3px;
}
#menuContainer input[type=button] {
  height: 100%;
  width: 100%;
  font-size: 150%;
  font-weight: bold;
}
.buttonOn { /* Active button. */
  color: var(--orange);
}
.buttonOff { /* Inactive button. */
  color: var(--blue);
}

/* IO styling */
#io {
  height: 625px;
  width: 1190px;
}
#bufferContainer {
  height: 100%;
  width: 495px;
}
#settings {
  height: 100%;
  width: 690px;
  font-size: 125%;
}
#settings h4 {
  color: var(--cyan);
}
#settings input[type=button] {
  color: var(--red);
}
#settings select {
  width: 80px;
}
#camContainer {
  height: 230px;
  width: 690px;
}
.cam { /* These dimensions should agree with the constants in detector.js */
  height: 120px;
  width: 160px;
}
#camContainer th {
  color: var(--cyan);
  padding: 5px;
  text-align: center; /* Even though this is set in outer element, it's overidden for th elements */
  font-size: 125%;
}
#controls {
  height: 390px;
  width: 690px;
}
#generalSettings {
  height: 100%;
  width: 335px;
}
#generalSettings input[type=number] {
  width: 50px;
}
#sliderContainer { /* Layout */
  width: 200px;
}
#emailSettings {
  height: 330px;
  width: 340px;
}
#userConfig {
  height: 165px;
}
#addRecipient {
  height: 135px;
}
#startStop {
  font-size: 150%;
}
#startStop input[type=button][name=start] {
  color: var(--green);
}
#startStop input[type=button][name=stop] {
  color: var(--magenta);
}
#detectorStatus {
  font-size: 125%;
}
#detectorStatus.scanning {
  color: var(--green);
}
#detectorStatus.listening {
  color: var(--orange);
}
#detectorStatus.idle {
  color: var(--magenta);
}
